body {
  margin: 0;
  padding: 0;
  background-color: #9966FF;
}

/* EVENT FEED */

#container {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}

.event {
  width: 90%;
  min-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.6rem;
  box-shadow: 0px 3px 14px rgba(20, 20, 20, 0.6);
}


/* EVENT INFO PANEL */
.event_info_panel {
  border-top: 0.2rem solid #6242A3;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  background-color: #CCCCCC;
  background-size: 100%;
  z-index: -1;
  display: none;
  font-size: 1.2rem;
}

.event_info_text_container {
  font-family: 'Homenaje', sans-serif;
  margin-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 70%;
  display: none;
}

/* EVENT IMAGE PANELS */
.event_image_panel {
  height: 10rem;
  background-size: 100%;
  background-position: center 40%;
}

#header_image_panel {
  background-color: black;
  text-align: center;
}

#header_title {
  font-size: 4rem;
  font-family: 'Permanent Marker', cursive;
  color: #9966FF;
}

#header_subtitle {
  font-family: 'Ubuntu', sans-serif;
  font: lighter;
  font-size: 1.5rem;
  color: #9966FF;
}

.event_title_date_container {
  position: relative;
  top: 7.5rem;
  width: 80%;
  min-width: 25rem;
  padding-left: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 1);
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
}

.event_title {
  font-size: 1.5rem;
}

.event_date {
  font-size: 1.2rem;
  float: right;
}

/*ANGLES*/
.topright_angle {
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  width: 60%;
  border-right: 100rem solid #6242A3;
  border-bottom: 100rem solid rgba(0, 0, 0, 0.0);
}

.bottomleft_angle {
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  width: 0%;
  height: 15rem;
  border-right: 100rem solid rgba(0, 0, 0, 0.0);
  border-bottom: 100rem solid #6242A3;
}

/* BUTTONS */
.button {
  margin-top: 1rem;
  width: 20%;
  height: 3rem;
  outline: none;
  border: 0rem;
  border-radius: 0.4rem;
  font-size: 1.3rem;
  color: #fff;
  background-color: #999999;
  font-family: 'Homenaje', sans-serif;
}

.button:active {
  background-color: gray;
}

.header_button {
  margin-right: 1rem;
  margin-left: 1rem;
}

/*INPUT FIELD*/
.new_event_form {
  width: 100%;
  display: none;
}

.new_event_input_field {
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-family: 'Homenaje', sans-serif;
  /* removes border */
  border: 0rem;
  /* removes active highlighting */
  outline: none;
  /* adds line breaks */
  display: block;
}

#title_input_field {
  border-radius: 3px 3px 0px 0px;
  height: 2rem;
}

#description_input_field {
  resize: none;
}

#location_input_field {
}

#imgurl_input_field {
  border-radius: 0px 0px 3px 3px;
  height: 2rem;
}

@media only screen and (min-width: 992px) {

}