/*
   ________  _________  ________  _____ ______   ___  ________          ________  ________   ________
  |\   __  \|\___   ___\\   __  \|\   _ \  _   \|\  \|\   ____\        |\   ____\|\   ____\ |\   ____\
  \ \  \|\  \|___ \  \_\ \  \|\  \ \  \\\__\ \  \ \  \ \  \___|        \ \  \___|\ \  \___|_\ \  \___|_
   \ \   __  \   \ \  \ \ \  \\\  \ \  \\|__| \  \ \  \ \  \            \ \  \    \ \_____  \\ \_____  \
    \ \  \ \  \   \ \  \ \ \  \\\  \ \  \    \ \  \ \  \ \  \____        \ \  \____\|____|\  \\|____|\  \
     \ \__\ \__\   \ \__\ \ \_______\ \__\    \ \__\ \__\ \_______\       \ \_______\____\_\  \ ____\_\  \
      \|__|\|__|    \|__|  \|_______|\|__|     \|__|\|__|\|_______|        \|_______|\_________\\_________\
                                                                                    \|_________\|_________|
*/

/*GRID-BASED WIDTH*/
.width-full {width: 100%;}
.width-almost-full {width: 90%;}
.width-three-quarters {width: 75%;}
.width-two-thirds {width: 66.66%;}
.width-half {width: 50%;}
.width-third {width: 33.33%;}
.width-quarter {width: 25%;}
.width-eighth {width: 12.5%;}

/*FONT STYLING & TEXT FORMATTING*/
.font-smallest {font-size: 1rem;}
.font-small {font-size: 1.3rem;}
.font-medium {font-size: 2rem;}
.font-huge {font-size: 6rem;}
.font-color-white {color: white;}
.font-weight-light {font-weight: lighter}
.text-center {text-align: center;}

/*FIXED HEIGHTS*/
.height-medium {height: 10rem;}
.height-tall {height: 18rem;}

/*COMPONENT-SPECIFIC PROPERTIES*/
/*body*/
/*.bg-img {background-image: url("../img/stardust.png");}*/
.reset {
  margin: 0;
  padding: 0;
}

  /*banner*/
  .font-color-white {color: white;}

    /*welcome*/
    .padding-top-small {padding-top: 1rem;}

    /*banner_title*/
    .font-family-sansita-one {font-family: 'Sansita One', cursive;}
    .padding-top-large {padding-top: 4rem;}

    /*banner_subtitle*/
    .padding-top-medium {padding-top: 2.5rem;}

  /*event*/
  .margin-top-small {margin-top: 0.7rem;}
  .margin-sides-set {
    margin-left: 20%;
    margin-right: 20%;
  }
  .width-min {min-width: 35rem}

    /*image_panel*/
    .bg-img-size {background-size: 100%;}
    .bg-img-pos {background-position: center 40%;}
    .hover-box-shadow:hover {box-shadow: 0px 3px 50px rgba(20, 20, 20, 0.6);}

      /*image_panel_text_container*/
      .bg-color-opaque-black {background-color: rgba(0, 0, 0, 0.6);}
      .pos-relative {position: relative;}
      .move-from-top {top: 7.5rem;}
      .font-family-ubuntu {font-family: 'Ubuntu', sans-serif;}
      .padding-left {padding-left: 1rem;}

        /*event_type_date_container*/
        .float-right {float: right;}
        .no-line-break {display: inline-block;}

    /*info_panel*/
    .bg-color-gray {background-color: #CCCCCC;}
    .height-auto-adjust {height: auto;}

      /*info_panel_text_container*/
      .padding {padding: 0.5rem;}
      .font-family-homenaje {font-family: 'Homenaje', sans-serif;}

/*UNCATEGORIZED*/
.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.bg-color-black {background-color: black;}
.bg-color-white {background-color: white;}
.bg-color-green {background-color: #00CC99;}

.hide {display: none;}
