body {
  /*background-color: #6967B2;*/
  background-image: url("../img/stardust.png");
  /*background-color: white;*/
  /*reset*/
  margin: 0;
  padding: 0;
}

  /*PANEL TEMPLATE*/
  .panel_template {
    display: none;
  }

  /*EVENT FEED CONTAINER*/
  #event_feed_container {
    max-width: 45rem;
    /*centering*/
    margin-left: auto;
    margin-right: auto;
  }

    /*SINGLE EVENT CONTAINER*/
    .single_event {
      margin-bottom: 0.6rem;
      /*responsive width*/
      width: 90%;
      min-width: 32rem;
      /*centering*/
      margin-left: auto;
      margin-right: auto;
      /*soft border shadow*/
      box-shadow: 0px 3px 14px rgba(20, 20, 20, 0.6);
    }

      /*EVENT IMAGE PANEL*/
      .image_panel {
        height: 10rem;
        /*keeps image set size*/
        background-size: 100%;
        /*centering image*/
        background-position: center 40%;
      }

        .image_panel_text_container {
          padding-left: 1rem;
          background-color: rgba(0, 0, 0, 0.6);
          /*font*/
          font-family: 'Ubuntu', sans-serif;
          font-weight: lighter;
          color: white;
          /*sets position and dimensions relative to parent*/
          position: relative;
          top: 7.5rem;
          /*responsive width*/
          width: 80%;
          min-width: 25rem;
        }

          .event_title {
            font-size: 1.5rem;
          }

          .event_date_type {
            float: right;
            text-align: center;
          }

            .event_date {
              font-size: 1rem;
            }

            .event_type {
              font-size: 0.8rem;
            }

      /*EVENT INFO PANEL*/
      .info_panel {
        background-color: #CCCCCC;
        font-size: 1.2rem;
        /*hidden at start*/
        display: none;
        /*responsive height*/
        height: auto;
        /*centering*/
        margin-right: auto;
        margin-left: auto;
      }

        .info_panel_text_container {
          font-family: 'Homenaje', sans-serif;
          /*hidden at start*/
          display: none;
          /*padding*/
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          padding-left: 0.5rem;
          /*responsive width*/
          width: 70%;
        }

      /*HEADER PANEL*/
      #header {
        background-color: black;
        text-align: center;
      }

        #header_title {
          font-family: 'Permanent Marker', cursive;
          font-size: 4rem;
          color: white;
          /*-webkit-background-clip:text;*/
          /*-webkit-text-fill-color:transparent;*/
        }

        #header_subtitle {
          padding-top: 1rem;
          /*font*/
          font-family: 'Ubuntu', sans-serif;
          font-size: 1rem;
          color: white;
          font: lighter;
        }

/*###########################################################*/

.button {
  margin-top: 1rem;
  width: 20%;
  height: 3rem;
  outline: none;
  border: 0rem;
  border-radius: 0.4rem;
  font-size: 1.3rem;
  color: #fff;
  background-color: #999999;
  font-family: 'Homenaje', sans-serif;
}

.button:active {
  background-color: gray;
}

.header_button {
  margin-right: 1rem;
  margin-left: 1rem;
}

.new_event_form {
  width: 100%;
  display: none;
}

.new_event_input_field {
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-family: 'Homenaje', sans-serif;
  /* removes border */
  border: 0rem;
  /* removes active highlighting */
  outline: none;
  /* adds line breaks */
  display: block;
}

#title_input_field {
  border-radius: 3px 3px 0px 0px;
  height: 2rem;
}

#description_input_field {
  resize: none;
}

#location_input_field {
}

#imgurl_input_field {
  border-radius: 0px 0px 3px 3px;
  height: 2rem;
}

