 <div class="bg-c-green">
  <!-- ADD EVENT FORM -->
  <div data-component="create_event_form_container"
       class="w-100per dis-none m-t-2rem">
    <div data-component="create_title"
         class="f-1p3rem f-w-light f-f-ubuntu">What are you planning?</div>
    <form data-component="create_event_form" action="/create" method="post">
        <input type="text" name="title"
               class="h-2rem pad-t-0p5rem pad-l-1p5rem f-1rem b-remove w-33per
                      outl-remove f-w-light pad-b-0p5rem pad-r-1p5rem m-t-1rem"
               placeholder="Title">
        <textarea style="resize:none" rows="6" name="description" maxlength="180"
               class="pad-t-0p5rem pad-l-1p5rem f-1rem b-remove w-33per
                      outl-remove f-w-light pad-b-0p5rem pad-r-1p5rem
                      dis-block m-l-auto m-r-auto"
               placeholder="Description"></textarea>
        <input type="datetime-local" name="datetime"
                class="h-2rem pad-t-0p5rem pad-l-1p5rem f-1rem b-remove
                      outl-remove f-w-light pad-b-0p5rem pad-r-1p5rem w-33per"><br>
        <input type="text" name="venue"
               class="h-2rem pad-t-0p5rem pad-l-1p5rem f-1rem b-remove w-33per
                      outl-remove f-w-light pad-b-0p5rem pad-r-1p5rem m-t-0p125rem"
               placeholder="Venue"><br>
        <input type="text" name="address"
               class="h-2rem pad-t-0p5rem pad-l-1p5rem f-1rem b-remove w-33per
                      outl-remove f-w-light pad-b-0p5rem pad-r-1p5rem m-t-0p125rem"
               placeholder="Address"><br>
        <input type="text" name="imgurl"
               class="h-2rem pad-t-0p5rem pad-l-1p5rem f-1rem b-remove w-33per
                      outl-remove f-w-light pad-b-0p5rem pad-r-1p5rem m-t-0p125rem"
               placeholder="IMG URL"><br>
<!--         <input type="file" name="img" accept="image/*"
               class="f-1rem m-t-1rem"><br> -->
        <button data-component="publish_event"
                class="w-15per h-3rem f-f-ubuntu f-1p3rem f-c-white b-remove m-t-1rem
                       bg-c-darkpurple outl-remove active-bg-color">publish event</button>
    </form>
  </div>
</div>