<!-- header panel -->
<div data-component="banner" class="bg-color-green text-center font-color-opaque-white
height-tall font-color-white hide">
    <div data-component="banner_title" class="font-huge font-family-sansita-one
    padding-top-large">
      gathergator
    </div>
    <div data-component="banner_subtitle" class="font-small font-weight-light
    padding-top-medium font-family-ubuntu">
      click to begin
    </div>
</div>

<div data-component="event_feed_container" class="margin-sides-set">
  <!-- event panels are apended below here -->
</div>

<!-- event panel template -->
<div data-component="event_panel_template" class="hide">
  <div data-component="event" class="width-full bg-color-white hover-box-shadow
  margin-top-small width-min hide">
    <!-- event image panel -->
    <div data-component="image_panel" class="bg-img-size bg-img-pos height-medium">
      <div data-component="image_panel_text_container" class="width-almost-full
      move-from-top pos-relative padding-left bg-color-opaque-black font-family-ubuntu
      font-weight-light font-color-white">
        <span data-component="event_title" class="font-small"></span>
        <div data-component="event_type_date_container" class="no-line-break float-right">
          <span data-component="event_type" class="font-smallest">public</span>
          <span data-component="event_date" class="font-small"></span>
        </div>
      </div>
    </div>
    <!-- event info panel -->
    <div data-component="info_panel" class="margin-center height-auto-adjust
    bg-color-gray">
      <div data-component="info_panel_text_container" class="padding
      width-three-quarters font-family-homenaje font-small">
      </div>
    </div>
  </div>
</div>