<!-- <div class="topright_angle"></div> -->
<!-- <div class="bottomleft_angle"></div> -->

<!-- create and discover buttons -->
<!-- <center>
  <button class="button" class="header_button" id="create_button">Create</button>
  <button class="button" class="header_button" id="discover_button">Discover</button>
</center> -->

<!-- new event form -->
<!-- <form action="new_event" method="post">
  <div class="new_event_form">
    <input type="text" class="new_event_input_field" id="title_input_field"
    placeholder="Title" maxlength="35" name="title">
    <textarea rows="4" class="new_event_input_field" id="description_input_field"
    placeholder="Description" maxlength="220" name="description"></textarea>
    <input type="text" class="new_event_input_field" id="location_input_field"
    placeholder="Location" maxlength="35" name="location">
    <input type="text" class="new_event_input_field" id="imgurl_input_field"
    placeholder="Image URL" name="imgurl">
    <center>
      <button type="submit" class="button" id="new_event_button">Publish event</button>
    </center>
  </div>
</form> -->

<div id="event_feed_container">
  <!-- header panel -->
  <div class="single_event">
    <div class="image_panel" id="header">
      <div id="header_title">logo</div>
      <div id="header_subtitle">people you love,<br>things you care about.</div>
    </div>
  </div>
  <!-- event panels are apended below here -->
</div>

<!-- event panel template -->
<div class="panel_template">
  <div class="single_event">
    <!-- event image panel -->
    <div class="image_panel" style="">
      <div class="image_panel_text_container">
        <span class="event_title"></span>
        <div class="event_date_type">
          <span class="event_type">public</span>
          <span class="event_date"></span>
        </div>
      </div>
    </div>
    <!-- event info panel -->
    <div class="info_panel">
      <div class="info_panel_text_container">
      </div>
    </div>
  </div>
</div>