<!-- MAIN BANNER -->
<div data-component="banner"
     class="bg-c-purple text-center h-22rem rem f-c-white dis-none">
  <div data-component="banner_title"
       class="f-6rem f-f-sansita-one pad-t-4rem">get together</div>
  <button data-component="create"
          class="w-15per h-3rem f-f-ubuntu-light f-w-light f-1p3rem f-c-white b-remove
                m-t-3rem m-r-0p5rem bg-c-darkpurple outl-remove hover-bg-color">
          create</button>
  <button data-component="discover"
          class="w-15per h-3rem f-f-ubuntu-light f-w-light f-1p3rem f-c-white b-remove
                m-t-3rem m-l-0p5rem bg-c-darkpurple outl-remove transparent" disabled>
          discover</button>

  <!-- ADD EVENT FORM -->
  <div data-component="create_event_form_container"
       class="w-100per dis-none m-t-2rem">
    <div data-component="create_title"
         class="f-1p3rem f-w-light f-f-ubuntu">What are you planning?</div>
    <form data-component="create_event_form" action="/create" method="post">
        <input type="text" name="title"
               class="h-2rem pad-t-0p5rem pad-l-1p5rem f-1rem b-remove w-33per
                      outl-remove f-w-light pad-b-0p5rem pad-r-1p5rem m-t-1rem"
               placeholder="Title" required>
        <textarea style="resize:none" rows="6" name="description" maxlength="180"
               class="pad-t-0p5rem pad-l-1p5rem f-1rem b-remove w-33per
                      outl-remove f-w-light pad-b-0p5rem pad-r-1p5rem
                      dis-block m-l-auto m-r-auto"
               placeholder="Description" required></textarea>
        <input type="datetime-local" name="datetime"
                class="h-2rem pad-t-0p5rem pad-l-1p5rem f-1rem b-remove
                      outl-remove f-w-light pad-b-0p5rem pad-r-1p5rem w-33per" required><br>
        <input type="text" name="venue"
               class="h-2rem pad-t-0p5rem pad-l-1p5rem f-1rem b-remove w-33per
                      outl-remove f-w-light pad-b-0p5rem pad-r-1p5rem m-t-0p125rem"
               placeholder="Venue" required><br>
        <input type="text" name="address"
               class="h-2rem pad-t-0p5rem pad-l-1p5rem f-1rem b-remove w-33per
                      outl-remove f-w-light pad-b-0p5rem pad-r-1p5rem m-t-0p125rem"
               placeholder="Address" required><br>
        <input type="text" name="imgurl"
               class="h-2rem pad-t-0p5rem pad-l-1p5rem f-1rem b-remove w-33per
                      outl-remove f-w-light pad-b-0p5rem pad-r-1p5rem m-t-0p125rem"
               placeholder="IMG URL" required><br>
<!--         <input type="file" name="img" accept="image/*"
               class="f-1rem m-t-1rem"><br> -->
        <button data-component="publish_event"
                class="w-15per h-3rem f-f-ubuntu f-1p3rem f-c-white b-remove m-t-1rem
                       bg-c-darkpurple outl-remove active-bg-color">publish event</button>
    </form>
  </div>
</div>

<!-- EVENT FEED CONTAINER -->
<div data-component="event_feed_container" class="m-l-20per m-r-20per">
  <!-- event panels are apended below here -->
</div>

<!-- EVENT TEMPLATE -->
<div data-component="event_template" class="dis-none">
  <div data-component="event"
       class="w-100per bg-c-white hover-box-shadow m-t-1rem w-min-35rem dis-none">

    <!-- EVENT IMAGE PANEL -->
    <div data-component="image_panel"
         class="bg-img-size bg-img-pos h-10rem">

      <!-- TITLE CONTAINER -->
      <div data-component="title_container"
           class="w-90per top-7p5rem pos-relative pad-l-1rem
                  bg-c-opaque-black f-f-ubuntu f-w-light f-c-white">
        <span data-component="event_title" class="f-1p3rem"></span>

        <!-- TYPE DATE CONTAINER -->
        <div data-component="type_date_container"
             class="dis-inline-block float-r">
          <!-- <span data-component="event_type" class="f-1rem">public</span> -->
          <span data-component="event_date" class="f-1p3rem"></span>
        </div>
      </div>
    </div>

    <!-- EVENT INFO PANEL -->
    <div data-component="info_panel" class="m-l-auto m-r-auto bg-c-gray">
      <div data-component="info_panel_text_container"
           class="pad-0p5rem w-75per f-1p3rem f-f-homenaje">
      </div>
    </div>
  </div>
</div>